.App {
  background-color: #262a41;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
}

.container .dashboard {
  margin: 100px auto;
  color: grey;
}

.container .dashboard .show-users {
  display: flex;
}

.container .dashboard .show-users p {
  padding-left: 45px;
}

.container .dashboard button {
  width: 90px;
  height: 90px;
  border-radius: 28px;
  margin-left: 30px;
  color: #fff;
}

.container .dashboard button:hover {
  cursor: pointer;
}

.container .dashboard button:active {
  width: 95px;
  height: 95px;
}

.container .side-dash {
  border: 1px solid grey;
  background-color: #f7f7ff;
  width: 50%;
  margin: 10px 10px;
  border-radius: 10px;
}

.container .side-dash .all-users .heading {
  padding-left: 60px;
}

.user-div {
  display: flex;
  background-color: #fff;
  justify-content: space-evenly;
  margin: 10px 60px;
  border-radius: 10px;
}

.user-div img {
  border-radius: 50%;
  border: 5px solid #30bbb5;
}

.user-div .user-dp {
  margin-top: 5%;
  padding: 0 20px;
}

.user-div .emailphone {
  display: flex;
}

.user-div .emailphone .ph {
  padding: 0 20px;
}

.user-div .user-arrow {
  margin-top: 75px;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 10px;
  background-color: #30bbb5;
}

.user-div .user-arrow a {
  color: #fff;
}

.loading {
  text-align: center;
}

.user-detail {
  display: flex;
  margin: 10px 60px;
  border-radius: 10px;
}

.user-detail img {
  border-radius: 50%;
  border: 5px solid #30bbb5;
}

.user-detail .user-details {
  padding-left: 25px;
}

.user-detail .mail {
  background-color: #0000000d;
  border-radius: 20px;
  padding: 6px;
}

.user-detail .joined {
  background-color: #dfb9d0;
  border-radius: 20px;
  padding: 6px;
}

.download-div {
  margin: 30px 60px;
  display: flex;
  justify-content: space-between;
}

.download-div .pagination button {
  border-radius: 10px;
  color: #fff;
  padding: 10px 14px;
  border: none;
}

.download-div .pagination .fir {
  background-color: gray;
  color: black;
  cursor: pointer;
}

.download-div .pagination .sec {
  background-color: black;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
}

.download-div .download-btn {
  padding: 12px 15px;
  border-radius: 20px;
  background-color: #7946c1;
  color: #fff;
  border: none;
}

@media only screen and (max-width: 414px) {
  .container {
    flex-direction: column;
  }
  .container .dashboard {
    max-width: 80%;
  }
  .container .dashboard button {
    width: 10px;
    height: 10px;
    border-radius: 28px;
  }
  .container .dashboard button:active {
    width: 12px;
    height: 12px;
  }
  .container .side-dash {
    width: 97%;
    margin: 2px auto;
  }
  .container .side-dash .all-users .heading {
    padding-left: 40px;
  }
  .user-div {
    flex-direction: column;
    margin: 10px 30px;
  }
  .user-div .user-dp {
    margin-top: 5%;
    padding: 0 20px;
  }
  .user-div .emailphone {
    flex-direction: column;
  }
  .user-div .emailphone .ph {
    padding: 0;
    margin: 0;
  }
  .user-div .user-arrow {
    margin: 15px 20px;
    padding: 5px 20px;
    background-color: #30bbb5;
    color: white;
    width: 21px;
  }
  .user-div .user-details {
    padding: 0 20px;
  }
  .user-detail {
    flex-direction: column;
    margin: 10px 60px;
  }
  .user-detail img {
    border-radius: 50%;
    border: 5px solid #30bbb5;
  }
  .user-detail .user-details {
    padding-left: 0;
  }
  .user-detail .mail {
    background-color: #0000000d;
    border-radius: 20px;
    padding: 6px;
  }
  .user-detail .joined {
    background-color: #dfb9d0;
    border-radius: 20px;
    padding: 6px;
  }
  .download-div {
    flex-direction: column;
  }
  .download-div .pagination {
    padding-top: 20px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */