$dark-color: #262a41;
$text-color: grey;

.App {
  background-color: $dark-color;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;

  .dashboard {
    margin: 100px auto;
    color: $text-color;

    .show-users {
      display: flex;
      p {
        padding-left: 45px;
      }
    }

    button {
      width: 90px;
      height: 90px;
      border-radius: 28px;
      margin-left: 30px;
      color: #fff;
      &:hover {
        cursor: pointer;
      }
      &:active {
        width: 95px;
        height: 95px;
      }
    }
  }
  .side-dash {
    border: 1px solid grey;
    background-color: #f7f7ff;
    width: 50%;
    margin: 10px 10px;
    border-radius: 10px;

    .all-users .heading {
      padding-left: 60px;
    }
  }
}

.user-div {
  display: flex;
  background-color: #fff;
  justify-content: space-evenly;
  margin: 10px 60px;
  border-radius: 10px;

  img {
    border-radius: 50%;
    border: 5px solid #30bbb5;
  }
  .user-dp {
    margin-top: 5%;
    padding: 0 20px;
  }
  .emailphone {
    display: flex;
    .ph {
      padding: 0 20px;
    }
  }
  .user-arrow {
    margin-top: 75px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    background-color: #30bbb5;
    a {
      color: #fff;
    }
  }
}
.loading {
  text-align: center;
}

.user-detail {
  display: flex;
  margin: 10px 60px;
  border-radius: 10px;

  img {
    border-radius: 50%;
    border: 5px solid #30bbb5;
  }
  .user-details {
    padding-left: 25px;
  }
  .mail {
    background-color: #0000000d;
    border-radius: 20px;
    padding: 6px;
  }
  .joined {
    background-color: #dfb9d0;
    border-radius: 20px;
    padding: 6px;
  }
}

.download-div {
  margin: 30px 60px;
  display: flex;
  justify-content: space-between;
  .pagination {
    button {
      border-radius: 10px;
      color: #fff;
      padding: 10px 14px;
      border: none;
    }
    .fir {
      background-color: gray;
      color: black;
      cursor: pointer;
    }
    .sec {
      background-color: black;
      margin-left: 10px;
      color: #fff;
      cursor: pointer;
    }
  }
  .download-btn {
    padding: 12px 15px;
    border-radius: 20px;
    background-color: #7946c1;
    color: #fff;
    border: none;
  }
}

@media only screen and (max-width: 414px) {
  .container {
    flex-direction: column;

    .dashboard {
      max-width: 80%;
      button {
        width: 10px;
        height: 10px;
        border-radius: 28px;
        &:active {
          width: 12px;
          height: 12px;
        }
      }
    }

    .side-dash {
      width: 97%;
      margin: 2px auto;
      .all-users .heading {
        padding-left: 40px;
      }
    }
  }

  .user-div {
    flex-direction: column;
    margin: 10px 30px;
    .user-dp {
      margin-top: 5%;
      padding: 0 20px;
    }
    .emailphone {
      flex-direction: column;
      .ph {
        padding: 0;
        margin: 0;
      }
    }
    .user-arrow {
      margin: 15px 20px;
      padding: 5px 20px;
      background-color: #30bbb5;
      color: white;
      width: 21px;
    }
    .user-details {
      padding: 0 20px;
    }
  }

  .user-detail {
    flex-direction: column;
    margin: 10px 60px;

    img {
      border-radius: 50%;
      border: 5px solid #30bbb5;
    }
    .user-details {
      padding-left: 0;
    }
    .mail {
      background-color: #0000000d;
      border-radius: 20px;
      padding: 6px;
    }
    .joined {
      background-color: #dfb9d0;
      border-radius: 20px;
      padding: 6px;
    }
  }
  .download-div {
    flex-direction: column;
    .pagination {
      padding-top: 20px;
      text-align: center;
    }
  }
}
